# Node
node_modules/
dist/
dist-ssr/
*.local

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# Local Databases & uploads
backend/data/local_database.sqlite
backend/data/uploads/
backend/data/mock_whatsapp_notifications.log

# IDE & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
